<!DOCTYPE html>
<html lang="en" >

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title> Social network - {% block title%}{% endblock %}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <header id="myheaderid">
        <nav class="navbar navbar-dark navbar-expand-lg mynavbar">
            <div class="container-fluid">
                <h1 class="display-5"> <a href="/" class="post-link">  My Cool Social Network </a></h1>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item">
                            <a class="nav-link {%block home_active%} {% endblock %}" aria-current="page" href="/">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link {%block about_active%} {% endblock %}" href="{{url_for('about') }}">Chi siamo</a>
                        </li>
                    </ul>
                </div>

            </div>
        </nav>
    </header>

    <div class="container-fluid mt-6">
        <div class="row">
            {% block content %}{% endblock %}
            <button type="button" class="btn btn-lg mybutton" data-bs-toggle="modal" data-bs-target="#exampleModal"> + </button>

            <!-- Modal -->
            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="exampleModalLabel">Crea un nuovo post</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <!-- Form structure -->
                            <form action="/post/new" method="POST" enctype="multipart/form-data">
                                <div class="mb-3">
                                    <label for="txtuserName" class="form-label">Choose a user:</label>
                                    <select class="form-select" name="username" id="txtuserName">
                                        <option selected>Select user</option>
                                        {% for user in usernames %}
                                        <option value="{{user}}">{{user}}</option>
                                        {% endfor %}
                                        
                                    </select>
                                </div>
                                <div class="mb-3">
                                    <label for="txtPost" class="form-label">Content:</label>
                                    <textarea class="form-control" id="txtPost" name="text" rows="3" 
                                    required minlength="30" maxlength="200"
                                    placeholder="inserisci un testo per il tuo post"></textarea>
                                </div>
                                <div class="mb-3">
                                    <label for="fileInput" class="form-label">Agguingu un immagine, opzionale</label>
                                    <input class="form-control" type="file" name="post_pic" id="fileInput">
                                </div>
                                <div class="mb-3">
                                    <label for="dateInput" class="form-label">Scegli data:</label>
                                    <input class="form-control" type="date" name="post_date" id="dateInput" min="{{ todayDate }}">
                                </div>
                                </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Chiudi</button>
                                <button type="submit" class="btn btn-primary">Crea post</button>
                            </div>
                        </form>

                    </div>
                </div>
            </div>
            
        </div>
    </div>



<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
    crossorigin="anonymous"> 
</script>

</body>

</html>